---
---
<html>
  <head>
    <meta charset="utf-8" />
    <title>Boardgames</title>
  </head>
  <body>
    <h1>Boardgames</h1>
    <ul>
      <li><a href="/sessions">Sessions</a></li>
      <li><a href="/players">Players</a></li>
      <li><a href="/games">Games</a></li>
    </ul>
  </body>
</html>
